{% extends "frontend.html.twig" %}
{% block title %}
	Les Articles
{% endblock %}
{% block body %}

	<!-- Page Header-->
	<header class="masthead" style="background-image: url('public/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Toutes les publications</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content-->
	<div class="container px-4 px-lg-5">
		<div class="col-sm-12 col-md-10 col-lg-9 col-xl-8 justify-content-around">

			{% for article in articles %}
				<div class="row gx-4 gx-lg-5 ">
					<div class="post-preview">
						<a href="index.php?action=article&amp;id={{article.id}}">
							<h2 class="post-title">{{article.title}}</h2>
						</a>
						<p class="post-meta">
							Posted by
							<a href="#!">{{article.name}}</a>
							le
							{{article.creation_date_fr}}
						</p>
						<p class="post-meta">
							{{article.chapo}}
						</p>
					</div>
					<div class="d-flex justify-content-end">
						<a class="btn btn-primary" href="index.php?action=adminArticle&amp;id={{article.id}}">

							<span>Modifier l'article...</span>
						</a>
					</div>
					<hr class="my-4"/>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
