{% extends "html.html.twig" %}
{% block title %}
	{{ article.title ? article.title : "Création d'un article"}}

{% endblock %}
{% block body %}

	<!-- Page Header-->
	<header class="masthead" style="background-image: url('public/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="post-heading">
						<h1 class="text-center">{{ article.title ? 'Edition de ' ~ article.title : "Création d'un article"}}</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Post Content-->
	<article class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<form action="index.php?action={{ article.id ? 'updateArticle&id=' ~ article.id : 'registerArticle'}}" method="post">


					<div class="form-group">
						<label for="title">Titre :</label><br/>
						<textarea id="title" class="form-control" rows="2" name="title">{{ article.title ? article.title : ""}}</textarea>

					</div>
					<br/>
					<div class="form-group">
						<label for="chapo">Résumé de l'article :</label><br/>
						<textarea id="chapo" class="form-control" rows="6" name="chapo">{{ article.chapo ? article.chapo : ""}}</textarea>

					</div>
					<br/>
					<div class="form-group">
						<label for="content">Contenu de l'article :</label><br/>
						<textarea id="content" class="form-control" rows="15" name="content">{{ article.content ? article.content : ""}}</textarea>

					</div>
					<br/>
					<div class="form-group">
						<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Publier</button>
					</div>
				</form>

			</div>
		</div>
	</article>


	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<h2>Commentaires</h2>
			</div>
		</div>
		<div class="d-flex flex-wrap">
			{% for comment in comments %}

				<div class="card p-2 m-3" style="width: 90%;">
					<div class="card-body">
						<form action="index.php?action=updateComment&amp;id={{ comment.id }}" method="post">
							<div class="form-group">
								<textarea id="content" class="form-control" name="content">{{ comment.content }}</textarea>
							</div>
							<br/>
							<h6 class="card-subtitle mb-2 text-muted">Créé le
								{{comment.creation_date_fr}}
								par
								{{comment.name}}. status du commentaire :
								{{comment.visibility}}
							</h6>
							{% if not comment.creation_date_fr == comment.modification_date_fr  %}
								<h6 class="card-subtitle mb-2 text-muted">Modifié le
									{{comment.modification_date_fr}}
								</h6>
							{% endif %}
							<div class="form-group">
								<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Mettre à jour</button>
								{% if comment.visibility == "waitingForValidation" or comment.visibility == "unpublished" %}
									<a class="btn btn-primary" style="padding: 0.4rem 1rem; width: 12rem; margin: 0.3rem" href="index.php?action=publishComment&amp;id={{comment.id}}">
										<span>Publier le commentaire</span>
									</a>
								{% else %}
									<a class="btn btn-primary" style="padding: 0.4rem 1rem; width: 12rem; margin: 0.3rem" href="index.php?action=unpublishComment&amp;id={{comment.id}}">
										<span>Dépublier le commentaire</span>
									</a>
								{% endif %}
							</div>
						</form>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
