{% extends "html.html.twig" %}
{% block title %}
	Les Articles
{% endblock %}
{% block body %}

	<!-- Page Header-->
	<header class="masthead" style="background-image: url('public/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Toutes les publications</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content-->
	<div class="container px-4 px-lg-5">
		<div class="col-sm-12 col-md-10 col-lg-9 col-xl-8 justify-content-around">

			<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Titre</th>
						<th scope="col">Date de Création</th>
						<th scope="col">Dernière Modification</th>
						<th scope="col">Auteur</th>
						<th scope="col">Status</th>
						<th scope="col">Action</th>
						<th scope="col">Editer</th>
					</tr>
				</thead>
				{% for article in articles %}
					<tbody>
						<tr>
							<th scope="row">{{article.id}}</th>
							<td>
								<a class="link-primary" href="index.php?action=article&amp;id={{article.id}}">
									{{article.title}}
								</a>
							</td>
							<td>{{article.creation_date_fr}}</td>
							<td>{{article.modification_date_fr}}</td>
							<td>{{article.name}}</td>
							<td>{{article.visibility}}</td>

							<td>
								{%if article.visibility == "waitingForValidation" or article.visibility == "unpublished" %}
									<a class="btn btn-primary" href="index.php?action=publishArticle&amp;id={{article.id}}">
										<span>Publier l'article</span>
									</a>
								{% else %}
									<a class="btn btn-primary" href="index.php?action=unpublishArticle&amp;id={{article.id}}">
										<span>Dépublier l'article</span>
									</a>
								{% endif %}
							</td>
							<td>
								<a class="btn btn-primary" href="index.php?action=editArticle&amp;id={{article.id}}">
									<span>Modifier l'article</span>
								</a>
							</td>
						</tr>
					</tbody>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table></div></div>{% endblock %}
