{% extends "html.html.twig" %}
{% block title %}
	Commentaires en attente de validation
{% endblock %}
{% block body %}

	<!-- Page Header-->
	<header class="masthead" style="background-image: url('public/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Commentaires en attente de validation</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content-->
	<div class="container">


		<div class="d-flex flex-wrap">
			{% for comment in comments %}

				<div class="card p-2 m-3" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Commentaire sur
							{{comment.title}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Le
							{{comment.creation_date_fr}}
							par
							{{comment.name}}
						</h6>
						<p class="card-text">{{comment.content}}</p>
						{%if comment.visibility == "waitingForValidation" or comment.visibility == "unpublished" %}
							<a class="btn btn-primary" href="index.php?action=publishComment&amp;id={{comment.id}}">
								<span>Publier le commentaire</span>
							</a>
						{% else %}
							<a class="btn btn-primary" href="index.php?action=unpublishComment&amp;id={{comment.id}}">
								<span>Dépublier le commentaire</span>
							</a>
						{% endif %}
						<a class="btn btn-primary m-1" href="index.php?action=editComment&amp;id={{comment.id}}">
							<span>Editer le commentaire</span>
						</a>
					</div>
				</div>

			{% endfor %}
		</div>

	</div>
{% endblock %}
