{% extends "html.html.twig" %}
{% block title %}
	{{article.title}}
{% endblock %}
{% block body %}

	<!-- Page Header-->
	<header class="masthead" style="background-image: url('public/assets/img/post-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="post-heading">
						<h1>{{article.title}}</h1>
						<span class="meta">
							Publié par
							<a href="#!">{{article.name}}</a>
							le
							{{article.creation_date_fr}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Post Content-->
	<article class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p class="fst-italic">{{article.chapo}}</p>
				</div>
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>{{article.content}}</p>
				</div>
			</div>
		</div>
	</article>
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<h2>Commentaires</h2>
				<div class="form-group">
					{% if session.userInformation.status == 'user' %}
						{% if postCommentSuccess.postCommentSuccess == true %}

							<p class="text-warning">Votre commentaire a bien été prise en compte. il sera publié après validation par un modérateur</p>

						{% endif %}
						<form action="index.php?action=addComment&amp;id={{ article.id }}" method="post">
							<div class="form-group">
								<label for="comment">Laisser un commentaire :</label><br/>
								<textarea id="comment" class="form-control" name="comment"></textarea>
							</div>
							<br/>
							<div class="form-group">
								<input class="btn btn-primary" type="submit"/>
							</div>
						</form>
					{% elseif session.userInformation.status == 'waitingForValidation' %}
						<p class="text-warning">Votre compte est en cours de validation, vous pourrez ajouter votre commentaire dès que vous aurez reçu le mail de confirmation.</p>
					{% else %}
						<p>
							<a class="link-warning" href="index.php?action=registerUser">Inscrivez-vous</a>
							ou
							<a class="link-primary" href="index.php?action=login">connectez-vous</a>


							pour participer à la discussion !</p>

					{% endif %}
				</div>
			</div>
		</div>
		{% for comment in comments %}
			<p>
				<strong>{{comment.name}}</strong>
				le
				{{comment.creation_date_fr}}</p>
			<p>{{comment.content}}</p>
		{% endfor %}
	</div>
{% endblock %}
